body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background */
    color: #000; /* Black text */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; /* Added padding */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #000; /* Black headings */
}

.personal-info, .education, .work-experience, .skills, .contact {
    background-color: #fff;
    border: 1px solid #000; /* Black border */
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    margin-bottom: 0px;
}

strong {
    font-weight: bold;
}

a {
    color: #000; /* Black links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
