body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background */
    color: #000; /* Black text */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2px; /* Added padding */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #000; /* Black headings */
}

.personal-info, .education, .work-experience, .skills, .certificates, .projects, .contact, .profile-picture {
    background-color: #fff;
    border: 1px solid #000; /* Black border */
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 10px;
    text-align: left;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    margin-bottom: 0px;
}

strong {
    font-weight: bold;
}

a {
    color: #000; /* Black links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile-picture {
    text-align: right;
    margin-bottom: 20px;
}

.profile-picture img {
    border-radius: 50%; /* Makes the image round */
    max-width: 500px; /* Adjust the maximum width as needed */
    height: auto;
}

/* Update the existing CSS file with these styles */

.profile-picture {
    text-align: right;
    margin-top: 20px; /* Add margin to the top of the profile picture */
}

.left-content {
    text-align: left;
}





